@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* color: white; */
}

.body-container {
  background-image: url(gifs/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
}

.start-game-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.start-game-container h1 {
  text-align: center;
  line-height: 8rem;
}

.main-container {
  /* border: 1px solid red; */
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#restart-game {
  /* margin-bottom: 0.5rem; */
  font-size: 1.4rem;
  border-radius: 1rem;
}

.success-container h4 {
  color: rgb(253, 154, 62);
  font-family: 'Press Start 2P', cursive;
  margin: 1rem;
}

.board-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.game-container {
  /* border: 1px solid red; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 60rem;
  height: 60rem;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /* perspective: 100rem; */
}

.select-level {
  width: 100%;
  height: 70vh;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-container {
  color: rgb(253, 138, 49);
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  /* border: 1px solid yellow; */
  gap: 1rem;

}

.board-container {
  /* border: 1px solid blue; */
  width: 40%;
}

.memory-card {
  min-width: calc(25% - 10px);
  min-height: calc(14.666% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /* border: 2px solid rgb(242, 74, 32); */
  border-radius: 1rem;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.front-face {
  transform: rotateY(180deg);
}

.body-container h1 {
  background: transparent;
  color: rgb(246, 204, 126);
  font-size: 6rem;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 5rem;
}

.success-container {
  width: 100%;
  display: none;
  height: 100%;
}

.fa-solid {
  font-size: 1.4rem;
  color: green;
}

a {
  text-decoration: none;
}

.success-container h3 {
  color: rgb(251, 162, 67);
  margin: 1rem 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

button {
  height: 5rem;
  width: 20rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 0.3rem;
}

#medium-level {
  height: 5rem;
  width: 22rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.success-container h2 {
  color: rgb(253, 154, 62);
  font-family: 'Press Start 2P', cursive;
}

.success-wrap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-container button {
  cursor: pointer;
  border: 3px solid rgb(239, 129, 60);
  align-self: center;
  background-clip: text;
  background: transparent;
  color: rgb(254, 202, 118);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}

.body-container button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 208, 0.2);
  z-index: -1;
  transition: top 0.3s ease;
}

.body-container button:hover::before {
  top: 0;
}

.main-container h1 {
  font-size: 2.6rem;
  /* margin: 0rem 0; */
  color: rgb(253, 154, 62);
  line-height: 4rem;
  padding-top: 2rem;
}

.success-container h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.success-container h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.success-container h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}



@media screen and (max-width: 1000px) {

  .start-game-container h1 {
    font-size: 3rem;
  }

  .game-container {
    width: 100%;
    /* height: 650px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective: 1000px; */
    /* margin-bottom: 12rem; */
  }

  .main-container h1 {
    font-size: 1.4rem;
  }

  .main-container h2 {
    font-size: 1rem;
  }

  .title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    width: 80%;
  }

  #restart-game {
    font-size: medium;
    height: 3.5rem;
    cursor: pointer;
    margin-top: 2rem;
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

  .success-container h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .success-container h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .success-container h4 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

}

@media screen and (max-width: 450px) {

  .start-game-container h1 {
    font-size: 3rem;
  }

  .game-container {
    /* margin-top: 20rem; */
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective: 1000px; */
    /* margin-bottom: 7rem; */
  }

  .main-container h1 {
    font-size: 1.4rem;
  }

  .main-container h2 {
    font-size: 1rem;
    color: rgb(253, 154, 62);
  }

  .title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    width: 80%;
  }

  #restart-game {
    font-size: medium;
    height: 3.5rem;
    margin-top: 2rem;
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

  .success-container h2 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .success-container h3 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .success-container h4 {
    padding-bottom: 2rem;
  }
}